[GENERAL]
working_folder_path = /home/samer/Dropbox/cbu/1-Nathalie/tubiana_etal_2022/data

[CATH]
version = v4_2_0
domain_list_url = http://download.cathdb.info/cath/releases/all-releases/v4_2_0/cath-classification-data/cath-domain-list-v4_2_0.txt
fetch_pdb_url = http://www.cathdb.info/version/v4_2_0/api/rest/id/

[UNIPROT]
url = ftp://ftp.ebi.ac.uk/pub/databases/msd/sifts/flatfiles/csv/pdb_chain_uniprot.csv.gz

[PROSITE]
url = ftp://ftp.expasy.org/databases/prosite/prosite_alignments.tar.gz

