[GENERAL]
working_folder_path = /scratch/cbu/data

[CATH]
version = v4_2_0
domain_list_url = http://download.cathdb.info/cath/releases/all-releases/v4_2_0/cath-classification-data/cath-domain-list-v4_2_0.txt
fetch_pdb_url = http://www.cathdb.info/version/v4_2_0/api/rest/id/

[UNIPROT]
url = ftp://ftp.ebi.ac.uk/pub/databases/msd/sifts/flatfiles/csv/pdb_chain_uniprot.csv.gz

[PROSITE]
url = ftp://ftp.expasy.org/databases/prosite/prosite_alignments.tar.gz

[DATASET_MANAGER]
recalculate = False

[ALPHAFOLD_UTILS]
rebuild = True
use_uniprot_boundaries = True
use_all_AFmodels = True
AF_pdbs_url_prefix = https://alphafold.ebi.ac.uk/files/AF-
AF_pdbs_url_suffix = -F1-model_v1.pdb
AF_interpro_url_prefix = https://www.ebi.ac.uk/interpro/api/entry/
AF_interpro_url_middle = /protein/reviewed/
AF_interpro_url_suffix = /?page_size=200
